#root{
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.header{    
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-menu{
        font-size: 20px;
    }

    &-title{
        font-weight: bold;
        font-size: 30px;
        color: red;
    }

    &-document{
        font-size: 20px;
    }
}

.link-nav{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content:space-around;
    border: 2px solid black;
    border-right: 0;
    border-left: 0;

    li{
        width: 60px;
        padding: 10px 15px;
        box-sizing: border-box;
        
    }
}s

.main {
    display: flex;
    align-items: center;

    &-card {
        $w:100px;
        width: $w;
        height: 100px;
        background-color: $main-color;
        margin:  20px 30px;
    }
    &-textarea{
        list-style: none;
        font-size: 12px;
        padding: 0;
    }

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;


    &-item{
        height: 70px;
        background-color: lightgray;
    }
}

.footer{
    border-top: 2px solid black;
    font-weight: 500;
    display: flex;
    justify-content: center;

    &-list{
        list-style: none;
        padding: 0;
    }
}